@import "tailwindcss";

/* Custom utility for hiding scrollbars */
@utility no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@keyframes scan {
  0% { top: 0%; opacity: 0.1; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 100%; opacity: 0.1; }
}

@utility animate-scan {
  animation: scan 2.5s ease-in-out infinite;
}

